<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div class="container">
		<br>

			<form enctype="multipart/form-data" method="post" action="/files/get-file">
				<p>Загрузите файл для сжатия</p>
				<p><input type="file" name="file">
				<input type="submit" value="Отправить"></p>
			</form>
		
		<div class="row">
			<div class="btn white darken-6 col s12">
				<a href="/auth/sign-out" style="text-transform:none">
					Разлогиниться
				</a>
			</div>
		</div>
	</div>
</body>
</html>